body{
    background-color: rgb(241, 227, 227);
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list{
    list-style-type: none;
}
h2,h3{
    text-decoration: underline;
    font-size: 25px;
}
.dir li{
    text-align: justify;
}
.home{
    font-family: serif;
    font-size: 30px;
}
.dis{
    font-size: 28px;
}
h1{
    color: rgb(0, 0, 0);
}
#link{
    font-size: larger;
}
.container{
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}
.container div{
    margin: 20px auto; 
    padding:10px 10px ;
    border: 1px solid rgb(0, 0, 0);
    width: 70%;


}
.cont1{
    background-color: rgb(214, 214, 236);
}
.cont2{
    background-color: rgb(230, 157, 157);
}
.cont3{
    background-color: orange;
}
.direction{
    width: 50%;
    margin: 10px auto;
}